@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root{
    --font1: 'Roboto Mono', monosp ace, sans-serif;
    --font2: 'Verdana', 'Arial', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    font-family: var(--font2);
    min-height: 100vh;
    background-color: darkgrey;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-family: var(--font2);
    padding: 50px;
    /*text-transform: uppercase;*/
    font-variant: small-caps;
    font-size: 10vh;
    
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--font1);
    padding-left: 30px;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
   
}

section > p {
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(24, 24, 24);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.538);
    background-attachment: fixed;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 2px 2px 0px black;
    display: inline-block;
    padding: 5px;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}